.post-show {
  display: block;
  padding: 0 3rem 2rem;
  width: 50rem;
  max-width: 100%;
}

.w-full {
  width: 100%;
}

.post-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.post-content h1,
.post-content h2,
.post-content h3 {
  justify-content: center;
}

.post-img {
  width: auto;
  height: 20rem;
  margin: 2rem auto;
  display: block;
}

@media (max-width: 500px) {
  .post-img {
    width: 70%;
    line-height: 0;
    border-style: hidden;
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

.image-account-post {
  width: 38px;
  height: 38px;
  object-fit: cover;
  border-radius: 100%;
  display: inline-table;
}

.post-author-username {
  margin-left: 10px;
  display: inline-table;
}

.text-font-size {
  font-size: 17px;
}

.post-flags {
  font-weight: bolder;
}

.h {
  height: 16rem;
}

.text-teal {
  color: #20c991;
}

.followers {
  display: block;
  width: 7rem;
  color: rgba(200, 143, 200, 0.9);
}

.followeds {
  display: block;
  width: 7rem;
  color: rgba(100, 143, 100, 0.9);
}

.post-ban {
  outline: blue;
}

.post-title-ban {
  text-decoration: line-through;
}

.post-ban-body {
  font-style: italic;
  color: tomato;
}

.posted-baned {
  text-decoration: line-through;
}

.posted-baned-bg {
  background: rgba(200, 42, 23, 0.2);
}

.comment-img-author {
  width: 28px;
  height: 28px;
  object-fit: cover;
}

.vl {
  border-left: 1px solid #c0afce;
  height: 100%;
  position: absolute;
  top: 0;
}

@media (max-width: 600px) {
  #comments {
    display: table;
  }
}

@media (max-width: 700px) {
  #comments {
    display: table;
  }
}

@media (max-width: 800px) {
  #comments {
    display: table;
  }
}

.text-content-size {
  font-size: 16px;
  font-weight: normal;
}

.text-content-size * {
  list-style: inside;
}
.text-content-size figure {
  object-fit: cover;
  border-radius: 4px;
  filter: drop-shadow(1px 1px 10px #4224707a);
}
.text-content-size figure + figcaption {
  text-align: center;
  text-decoration: dashed;
}

.text-content-size img {
  object-fit: cover;
  border-radius: 4px;
}

.content-comment {
  display: flex;
  flex-direction: column;
  max-height: 20rem;
  overflow-y: scroll;
  padding: 0 7px;
  font-size: 15px;
  font-weight: normal;
  line-height: 29px;
}

.comment__list {
  border: 0.5px solid #7f59b87a;
  display: flex;
  flex-direction: column;
  max-height: 40rem;
  overflow-y: hidden;
  padding: 4px;
}

@media only screen and (min-height: 100vh) {
  .comment__list {
    overflow-y: scroll;
  }
}

img {
  max-width: 100%;
}

.post__head__title {
  font-size: 3rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #4a315c;
}

.align-self {
  align-self: center;
}

.follow__direction {
  bottom: 5rem;
  left: 0;
  right: 0;
  filter: drop-shadow(2px 2px 10px #684085);
}

.follow__content {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #684085af;
  height: 38px;
  padding: 3px;
  transition: background-color 0.2s ease;
}

.follow__content span {
  font-size: 13px;
  font-weight: 500;
}

.follow__content:hover {
  background-color: #a87dc77e;
}

.post__header__img {
  border-radius: 6px;
  border: 0.5px solid #684085;
  min-width: 60%;
  object-fit: cover;
  width: auto;
}

@media only screen and (max-width: 550px) {
  .post__head__title {
    font-size: 1.2rem;
  }
  .content-comment {
    font-size: 12px;
    line-height: 18px;
  }

  .text-content-size {
    font-size: 13px;
  }
}
